---
import { Image } from "astro:assets";
import type { any } from "astro:schema";
const { title, subtitle, description, ctaText, ctaLink, image } = Astro.props;
---

<section class="hero">
  <Image
  src={image}
  alt={title}
  class="hero-bg"
  width={1600}
  priority
  loading="eager"
/>

  <div class="hero-overlay"></div>

  <div class="hero-top">
    <h1>{title}</h1>
  </div>

  <div class="hero-bottom">
    <p class="subtitle">{subtitle}</p>
    <a href={ctaLink} class="btn-primary">{ctaText}</a>
  </div>

</section>
<script is:inline>
  document.querySelectorAll(".hero-image").forEach(img => {
    if (img.complete) {
      img.classList.add("loaded");
    } else {
      img.addEventListener("load", () => {
        img.classList.add("loaded");
      });
    }
  });
</script>