---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
  icon: ImageMetadata;
  title: string;
  description: string;
  link: string;
  cta: string; 
}

const { icon, title, description, link, cta} = Astro.props as Props;
---

<div class="service-card">
  <div class="service-card-header">
    <Image
      src={icon}
      alt=""
      width={240}
      loading="lazy"
      class="service-icon"
    />
    <h3>{title}</h3>
  </div>

  <p class="service-description">
    {description}
  </p>

  <a href={link} class="service-link">
    {cta}
  </a>
</div>